<!-- templates/pages/register.html -->
{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="w-full flex flex-wrap">

    <!-- Register Section -->
    <div class="w-full md:w-1/2 flex flex-col">

        <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
            <a href="#" class="bg-black text-white font-bold text-xl p-4">Logo</a>
        </div>
        <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
            <p class="text-center text-3xl">Register your account.</p>
            <form action="{% url 'register' %}" class="flex flex-col pt-3 md:pt-8" method="post">
                {% if errors %}
                <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert">
                    {{ errors }}
                </div>
                {% endif %}
                {% csrf_token %}
                <div class="flex flex-col pt-4">
                    <label for="id_first_name" class="text-lg">First Name</label>
                    <input name="first_name" type="first_name" id="id_first_name" placeholder="John Jacob" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="flex flex-col pt-4">
                    <label for="id_last_name" class="text-lg">Last Name</label>
                    <input name="last_name" type="last_name" id="id_last_name" placeholder="Doe" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="flex flex-col pt-4">
                    <label for="id_email" class="text-lg">Email</label>
                    <input name="email" type="email" id="id_email" placeholder="your@email.com"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="flex flex-col pt-4">
                    <label for="id_organization" class="text-lg">Organization</label>
                    <input name="organization" type="organization" id="id_organization" placeholder="my organization"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="flex flex-col pt-4">
                    <label for="id_password" class="text-lg">Password</label>
                    <input type="password" name="password1" id="id_password" placeholder="Password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="flex flex-col pt-4">
                    <label for="id_password" class="text-lg">Confirm Password</label>
                    <input type="password" name="password2" id="id_password" placeholder="Password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <input type="submit" value="Register"
                    class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
            </form>
            <div class="text-center pt-12 pb-12">
                <p>Already have an account? <a href="{% url 'login' %}" class="underline font-semibold">Login
                        here.</a></p>
            </div>
        </div>

    </div>

    <!-- Image Section -->
    <div class="w-1/2 shadow-2xl">
        <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
    </div>
</div>
{% endblock %}